<%- include("partials/header.ejs") %>


<div class="down">
    <div class="container">
        <div class="show">
            <h3>My Parents Named Me:</h3>
            <h4><%= slam.name %></h4>
        </div>
        <div class="show">
            <h3>My Friends Call Me:</h3>
            <h4><%= slam.nameAgain %></h4>
        </div>
        <div class="show">
            <h3>I Live At:</h3>
            <h4><%= slam.address %></h4>
        </div>
        <div class="show">
            <h3>Ring Me On:</h3>
            <h4><%= slam.phone %></h4>
        </div>
        <div class="show">
            <h3>E-Mail:</h3>
            <h4><%= slam.email %></h4>
        </div>
        <div class="show">
            <h3>I was Born On:</h3>
            <h4><%= slam.dob.toDateString() %></h4>
        </div>
        <div class="show">
            <h3>Zodiac Sign:</h3>
            <h4><%= slam.Zsign %></h4>
        </div>
        <div class="show">
            <h3>My Favourite Web Site:</h3>
            <h4><%= slam.web %></h4>
        </div>
        <div class="show">
            <h3>I Love To Boast About:</h3>
            <h4><%= slam.boast %></h4>
        </div>
        <div class="show">
            <h3>My Idea Of Fun:</h3>
            <h4><%= slam.fun %></h4>
        </div>
        <div class="show">
            <h3>I Cherish Thy Memory Of The Day, when:</h3>
            <h4><%= slam.once %></h4>
        </div>
        <div class="show">
            <h3>The Day I Never Wanna Recall:</h3>
            <h4><%= slam.never %></h4>
        </div>
        <div class="show">
            <h3>My Favourite One Liner is:</h3>
            <h4><%= slam.oneLiner %></h4>
        </div>
        <div class="show">
            <h3>My Idea About Ideal Date:</h3>
            <h4><%= slam.date %></h4>
        </div>
        <div class="show">
            <h3>U Must Check Out the Film:</h3>
            <h4><%= slam.film %></h4>
        </div>
        <div class="show">
            <h3>I love To Dress My Self In:</h3>
            <h4><%= slam.dress %></h4>
        </div>
        <div class="show">
            <h3>My Cool Gang Includes:</h3>
            <h4><%= slam.gang %></h4>
        </div>
        <div class="show">
            <h3>The Teacher I Like Most:</h3>
            <h4><%= slam.teacher %></h4>
        </div>
        <div class="show">
            <h3>One Truth Nobody Knows Is:</h3>
            <h4><%= slam.truth %></h4>
        </div>
        <div class="show">
            <h3>My Best Moment With You:</h3>
            <h4><%= slam.moment %></h4>
        </div>
        <div class="show">
            <h3>My Funniest Moment Is:</h3>
            <h4><%= slam.funny %></h4>
        </div>
        <div class="show">
            <h3>I Fancy Love As:</h3>
            <h4><%= slam.love %></h4>
        </div>
        <div class="show">
            <h3>About You, I Feel:</h3>
            <h4><%= slam.about %></h4>
        </div>
        <div class="show">
            <h3>Date:</h3>
            <h4><%= slam.dated.toDateString() %></h4>
        </div>
    </div>
</div>


<%- include("partials/footer.ejs") %>